.popup__input {
    height: 40px;
    font-size: 14px;
    line-height: 1.25;
    font-weight: normal;
    margin-bottom: 30px;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.popup__input:last-child {margin-bottom: 0;}