.popup__container {
    position: relative;
    margin: auto;
    padding: 36px 36px 0 0;
}
@media screen and (max-width: 508px){
    .popup__container {
        width: calc(100% - 38px);
        padding: 36px 0 0 0;
    }
}