.profile {
    display: grid;
    grid-template-columns: 120px auto 150px;
    margin-top: 36px;
    width: calc(100% - 38px);
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 618px) {
    .profile {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
}