.profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 1.33;
    color: #fff;
    margin: 0 17px 0 0;
    max-width: 490px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}