.popup__save-button {
    border: 0;
    background-color: black;
    color: white;
    font-size: 18px;
    line-height: 1.22;
    font-weight: normal;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 48px;
    cursor: pointer;
}
.popup__save-button:hover {opacity: 0.5;  
    transition: opacity 0.1s ease; } 