.elements__image-delete {
    background-image: url(../../../images/delete_images.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 18px;
    height: 20px;
    top: 18px;
    right: 15px;
    cursor: pointer;
    outline: none;
}
.elements__image-delete:hover{opacity: 0.5;
    transition: opacity 0.1s ease;}