.profile__job {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    max-width: 526px;
    margin: 16px 0 0;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
@media screen and (max-width: 618px) {
    .profile__job {
        font-size: 14px;
        line-height: 1.2;
        max-width: 282px;
        text-align: center;
        margin-top: 0;
    }
}